:root {
  --primary-color: #eed030;
  --secondary-color: #0a2a1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.btn-custom-primary {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.btn-custom-primary:hover {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-primary:focus {
  background-color: #c9ad0d;
  color: #000;
}
nav {
  background-color: #fff;
  box-shadow: 10px 30px 30px 0px #0000000d;
}
nav .navbar-brand {
  font-size: 1.5rem;
}
#about .img-header img {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
}
#about h2 {
  font-size: 2.625rem;
}
#about .about .container > p {
  font-size: 1.5rem;
}
#about .vision {
  background-color: var(--secondary-color);
  margin-bottom: 10rem;
  padding: 5rem 0;
}
#about .mission {
  margin-bottom: 10rem;
}
#about .mission ol li {
  font-size: 1.5rem;
}
#contact {
  padding: 4rem 0;
  background-color: var(--secondary-color);
}
#contact h3 {
  font-size: 2.1rem;
}
#contact h4 {
  font-size: 1.5rem;
}
#contact p {
  font-size: 1.1rem;
}
#contact ul li a {
  text-decoration: none;
}
