:root {
  --primary-color: #eed030;
  --secondary-color: #0a2a1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  background-color: #fff;
  box-shadow: 10px 30px 30px 0px #0000000d;
}
nav .navbar-brand {
  font-size: 1.5rem;
}
.btn-custom-primary {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.btn-custom-primary:hover {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-primary:focus {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-outline-primary {
  font-size: 1.2rem;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}
.btn-custom-outline-primary:hover {
  background-color: #c9ad0d;
}
.btn-custom-outline-primary:focus {
  background-color: #c9ad0d;
}
#detail-product {
  padding: 5rem 0 10rem 0;
  border-radius: 10px;
}
#detail-product input {
  background-color: #f4f4f4;
}
#detail-product h2 {
  font-size: 2.625rem;
}
#detail-product h3 {
  font-size: 2rem;
}
#detail-product .card .card-title,
#detail-product .card h5 {
  font-size: 1.5rem;
}
#detail-product .card-text {
  color: var(--primary-color);
}
#detail-product .card .action-icon {
  cursor: pointer;
}
#detail-product .card .action-icon:hover {
  color: var(--primary-color);
}
#detail-product .card .btn-custom-counter {
  background-color: #f4f4f4;
}
#detail-product .card .btn-custom-counter .badge {
  background-color: var(--primary-color);
  color: #000;
}
.other-products .card {
  box-shadow: 10px 30px 30px 0px #0000000d;
  border-color: #e2e2e2;
}
.active-menu {
  border-bottom: 2px solid #000;
}
.menu-item:hover {
  border-bottom: 2px solid #000;
}
.active-color {
  color: #000;
}
.unactive-color {
  color: rgba(0, 0, 0, 0.5);
}
#contact {
  padding: 4rem 0;
  background-color: var(--secondary-color);
}
#contact h3 {
  font-size: 2.1rem;
}
#contact h4 {
  font-size: 1.5rem;
}
#contact p {
  font-size: 1.1rem;
}
#contact ul li a {
  text-decoration: none;
}
