:root {
  --primary-color: #eed030;
  --secondary-color: #0a2a1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
nav {
  background-color: #fff;
  box-shadow: 10px 30px 30px 0px #0000000d;
}
nav .navbar-brand {
  font-size: 1.5rem;
}
#detail_article h2 {
  font-size: 3rem;
}
#detail_article small {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#detail_article img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
#detail_article p {
  line-height: 2rem;
  font-size: 1.2rem;
  text-align: justify;
}
#detail_article .card {
  border-color: #e2e2e2;
  background-color: #f4f4f4;
}
#detail_article .card .card-header {
  font-size: 2rem;
  background-color: var(--primary-color);
}
#detail_article .card .card-title {
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-custom-primary {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.btn-custom-primary:hover {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-primary:focus {
  background-color: #c9ad0d;
  color: #000;
}
#contact {
  padding: 4rem 0;
  background-color: var(--secondary-color);
}
#contact h3 {
  font-size: 2.1rem;
}
#contact h4 {
  font-size: 1.5rem;
}
#contact p {
  font-size: 1.1rem;
}
#contact ul li a {
  text-decoration: none;
}
