:root {
  --primary-color: #eed030;
  --secondary-color: #0a2a1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.btn-custom-primary {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.btn-custom-primary:hover {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-primary:focus {
  background-color: #c9ad0d;
  color: #000;
}
nav {
  background-color: #fff;
  box-shadow: 10px 30px 30px 0px #0000000d;
}
nav .navbar-brand {
  font-size: 1.5rem;
}
#experts_list {
  padding: 3rem;
}
#experts_list h2 {
  font-size: 3rem;
}
#experts_list input {
  background-color: #f4f4f4;
}
#experts_list .experts_card p {
  color: rgba(0, 0, 0, 0.5);
}
#experts_list .experts_card .card {
  background-color: #f4f4f4;
}
#experts_list .experts_card .card h3 {
  font-size: 3rem;
}
#experts_list .experts_card .card h4 {
  font-size: 1.5rem;
  cursor: pointer;
}
#experts_list .experts_card .card .card-title {
  font-size: 2rem;
}
#experts_list .experts_card .card .card-text {
  font-size: 1.2rem;
}
#experts_list .experts_card .card h6 {
  font-size: 1.5rem;
}
#experts_list .experts_card .card {
  border-color: #e2e2e2;
}

#contact {
  padding: 4rem 0;
  background-color: var(--secondary-color);
}
#contact h3 {
  font-size: 2.1rem;
}
#contact h4 {
  font-size: 1.5rem;
}
#contact p {
  font-size: 1.1rem;
}
#contact ul li a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  #experts_list .experts_card .card h3 {
    font-size: 2rem;
  }
  #experts_list {
    padding: 0;
  }
  #experts_list .experts_card .card .card-title {
    font-size: 1.7rem;
  }
}
