:root {
  --primary-color: #eed030;
  --secondary-color: #0a2a1d;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.btn-custom-primary {
  padding: 0.8rem;
  background-color: var(--primary-color);
}
.btn-custom-primary:hover {
  background-color: #c9ad0d;
  color: #000;
}
.btn-custom-primary:focus {
  background-color: #c9ad0d;
  color: #000;
}
nav {
  background-color: #fff;
  box-shadow: 10px 30px 30px 0px #0000000d;
}
nav .navbar-brand {
  font-size: 1.5rem;
}
#weather .img-header img {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
}
#weather .container {
  padding: 4rem 0 14rem 0;
}
#weather h2 {
  font-size: 2.625rem;
}
/* #weather #info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
#weather #info .card {
  height: 100%;
  background-color: #0a2a1d;
  border: none;
}
#weather #info .card .card-title {
  font-size: 1.25rem;
} */

/* Google Weather */
.google-weather-place {
  width: calc(655px / 2);
  height: calc(450px / 2);
}
.google-weather-crop {
  width: calc(655px / 2);
  height: calc(450px / 2);
  overflow: hidden;
  transition: 0.3s;
  position: absolute;
}
.google-weather-crop:hover {
  width: 655px;
  height: 450px;
}
.google-weather {
  position: relative;
  left: -180px;
  top: -180px;
  width: 2560px;
  height: 5120px;
  transform: scale(0.5);
  transform-origin: 180px 180px;
  transition: 0.3s;
  position: absolute;
}
.google-weather:hover {
  transform: scale(1);
  z-index: 1000;
}
.content {
  /* Atur lebar dan tinggi konten */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  padding: 4rem 0;
  background-color: var(--secondary-color);
}
#contact h3 {
  font-size: 2.1rem;
}
#contact h4 {
  font-size: 1.5rem;
}
#contact p {
  font-size: 1.1rem;
}
#contact ul li a {
  text-decoration: none;
}
